/* Write your global styles here, in PostCSS syntax */
@import 'material-icons/iconfont/outlined.css';

html,
body {
	@apply h-full;
}

body {
	@apply bg-surface-50-900-token;
}

@tailwind typography;
